In [1]:
#Que 1

def calc(a, b, op):
    if op == 1:
        return a + b
    elif op == 2:
        return a - b
    elif op == 3:
        return a * b
    elif op == 4:
        if b != 0:
            return a / b
        else:
            print("Division by zero not allowed")
            return None
    else:
        print("Invalid op")
        return None

In [2]:
print(calc(10, 5, 1))  # Addition
print(calc(10, 5, 2))  # Subtraction
print(calc(10, 5, 3))  # Multiplication
print(calc(10, 5, 4))  # Division
print(calc(10, 5, 6))  # Invalid operation

15
5
50
2.0
Invalid op
None

In [3]:
#que 2

def shortest_longest(words):
    shortest = words[0]
    longest = words[0]

    for word in words:
        if len(word) < len(shortest):
            shortest = word
        if len(word) > len(longest):
            longest = word

    return (shortest, longest)

In [4]:
words = ["machine", "ai", "learning", "data"]
result = shortest_longest(words)
print(result)

('ai', 'learning')

In [5]:
#que 3

def add_if_not_present(lst, element):
    if element not in lst:
        lst.append(element)
    return lst

In [6]:
my_list = [1, 2, 3]
print(add_if_not_present(my_list, 4))
print(add_if_not_present(my_list, 2))

[1, 2, 3, 4]
[1, 2, 3, 4]

In [7]:
#que 4

import numpy as np

def get_transpose(arr):
    return arr.T

In [8]:
array = np.array([[1, 2], [3, 4]])
print(get_transpose(array))

[[1 3]
 [2 4]]

In [9]:
#que 5

import numpy as np

def row_vector(lst):
    return np.array(lst).reshape(1, len(lst))

In [10]:
numbers = [10, 20, 30, 40]
print(row_vector(numbers))

[[10 20 30 40]]

In [12]:
#que 6

import numpy as np

def final_column_vector(arr):
    return arr[:, -1].reshape(-1, 1)

In [13]:
array_2d = np.array([[1, 2, 3],
                     [4, 5, 6],
                     [7, 8, 9]])

print(final_column_vector(array_2d))

[[3]
 [6]
 [9]]

In [17]:
#que 7

import pandas as pd
import numpy as np

# Load dataset
df = pd.read_csv("adult_data.csv")

# --------- EDA (10 functions) ---------
print(df.head())
print(df.tail())
print(df.shape)
print(df.info())
print(df.describe())
print(df.columns)
print(df.dtypes)
print(df.isnull().sum())
print(df.nunique())
print(df['target'].value_counts())


# --------- Preprocessing ---------
df.replace('?', np.nan, inplace=True)
df.dropna(inplace=True)

for col in df.select_dtypes(include='object'):
    df[col] = df[col].str.strip()

print("Preprocessing completed")

   age         workclass  fnlwgt  education  education.num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital.status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital.gain  capital.loss  hours.per.week native.country target
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K
       age     workclass  fnlwgt  education  education.num  \
48837   39       Private  215419  Bachelors             13
48838   64           NaN  321403    HS-grad              9
48839   38       Private  374983  Bachelors             13
48840   44       Private   83891  Bachelors             13
48841   35  Self-emp-inc  182148  Bachelors             13

           marital.status       occupation    relationship  \
48837            Divorced   Prof-specialty   Not-in-family
48838             Widowed              NaN  Other-relative
48839  Married-civ-spouse   Prof-specialty         Husband
48840            Divorced     Adm-clerical       Own-child
48841  Married-civ-spouse  Exec-managerial         Husband

                     race     sex  capital.gain  capital.loss  hours.per.week  \
48837               White  Female             0             0              36
48838               Black    Male             0             0              40
48839               White    Male             0             0              50
48840  Asian-Pac-Islander    Male          5455             0              40
48841               White    Male             0             0              60

      native.country  target
48837  United-States  <=50K.
48838  United-States  <=50K.
48839  United-States  <=50K.
48840  United-States  <=50K.
48841  United-States   >50K.
(48842, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       46043 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education.num   48842 non-null  int64
 5   marital.status  48842 non-null  object
 6   occupation      46033 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital.gain    48842 non-null  int64
 11  capital.loss    48842 non-null  int64
 12  hours.per.week  48842 non-null  int64
 13  native.country  47985 non-null  object
 14  target          48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB
None
                age        fnlwgt  education.num  capital.gain  capital.loss  \
count  48842.000000  4.884200e+04   48842.000000  48842.000000  48842.000000
mean      38.643585  1.896641e+05      10.078089   1079.067626     87.502314
std       13.710510  1.056040e+05       2.570973   7452.019058    403.004552
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.175505e+05       9.000000      0.000000      0.000000
50%       37.000000  1.781445e+05      10.000000      0.000000      0.000000
75%       48.000000  2.376420e+05      12.000000      0.000000      0.000000
max       90.000000  1.490400e+06      16.000000  99999.000000   4356.000000

       hours.per.week
count    48842.000000
mean        40.422382
std         12.391444
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'target'],
      dtype='object')
age                int64
workclass         object
fnlwgt             int64
education         object
education.num      int64
marital.status    object
occupation        object
relationship      object
race              object
sex               object
capital.gain       int64
capital.loss       int64
hours.per.week     int64
native.country    object
target            object
dtype: object
age                  0
workclass         2799
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        2809
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     857
target               0
dtype: int64
age                  74
workclass             8
fnlwgt            28523
education            16
education.num        16
marital.status        7
occupation           14
relationship          6
race                  5
sex                   2
capital.gain        123
capital.loss         99
hours.per.week       96
native.country       41
target                4
dtype: int64
target
<=50K     24720
<=50K.    12435
>50K       7841
>50K.      3846
Name: count, dtype: int64
Preprocessing completed

In [16]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K